<html>
  <head>
    <title><%= statusCode %>: <%= pagetitle %></title>
    <style>
      body { background-color: #dedede; margin: 0; }
      h1 { padding: 280px 0 0 0; margin: 0; text-align: center; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; font-weight: normal; }
      h2 { padding: 5px 0 0 0; margin: 0; text-align: center; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; color: #999; font-weight: normal; }
    </style>
  </head>
  <body>
    <center>

      <h1>
        <%= statusCode %>: <%= pagetitle %>
      </h1>
      <h2>
        <%= pagetext %>
      </h2>
      <h2>
        <%= pagedata %>
      </h2>
      <br />
      <hr />
      <br />
      <img src="/__digger/assets/digger.png" width=200 />
      
    </div></center>
  </body>
</html>